# Preprocessing
## pandas Profilling

In [1]:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport

In [2]:
df = pd.DataFrame(np.random.rand(100, 5), columns=['a', 'b', 'c', 'd', 'e'])

In [3]:
df

           a         b         c         d         e
0   0.478625  0.539050  0.420910  0.951864  0.140785
1   0.223135  0.651068  0.512025  0.783911  0.538177
2   0.055203  0.609396  0.187832  0.037313  0.171222
3   0.750855  0.963928  0.915063  0.905338  0.819030
4   0.187138  0.930585  0.204347  0.449638  0.281617
..       ...       ...       ...       ...       ...
95  0.258433  0.322252  0.168118  0.091487  0.315676
96  0.905592  0.538960  0.802888  0.002382  0.647671
97  0.370436  0.041399  0.801674  0.763220  0.764368
98  0.105352  0.536171  0.544575  0.895835  0.609477
99  0.381134  0.089043  0.410392  0.665375  0.330145

[100 rows x 5 columns]

In [4]:
profile = ProfileReport(df)

In [5]:
data = pd.read_csv('spam.csv', encoding='latin1')

In [6]:
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [7]:
data[:5]

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [8]:
profile = ProfileReport(data)

C:\Users\user\Anaconda3\envs\nlp\lib\site-packages\pandas_profiling\model\correlations.py:126: UserWarning: There was an attempt to calculate the cramers correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"cramers": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/pandas-profiling/pandas-profiling/issues
(include the error message: 'The internally computed table of expected frequencies has a zero element at (0, 1).')
  correlation_name=correlation_name, error=error

In [9]:
profile

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   …

# Tokenization

## 단어 토큰화(word tokenization)

In [10]:
text = "Don't be fooled by the dark sounding name, Jone's Orphange is a cheery as goes for a pastry shop."

## nltk package 토큰화 메소드

In [11]:
from nltk.tokenize import word_tokenize, WordPunctTokenizer

In [12]:
print(word_tokenize(text))

['Do', "n't", 'be', 'fooled', 'by', 'the', 'dark', 'sounding', 'name', ',', 'Jone', "'s", 'Orphange', 'is', 'a', 'cheery', 'as', 'goes', 'for', 'a', 'pastry', 'shop', '.']

In [13]:
from nltk.tokenize import TreebankWordTokenizer

In [14]:
tokenize = TreebankWordTokenizer()

In [15]:
print(tokenize.tokenize(text))

['Do', "n't", 'be', 'fooled', 'by', 'the', 'dark', 'sounding', 'name', ',', 'Jone', "'s", 'Orphange', 'is', 'a', 'cheery', 'as', 'goes', 'for', 'a', 'pastry', 'shop', '.']

## keras package 토큰화 메소드

In [16]:
from tensorflow.keras.preprocessing.text import text_to_word_sequence

In [17]:
print(text_to_word_sequence(text))

["don't", 'be', 'fooled', 'by', 'the', 'dark', 'sounding', 'name', "jone's", 'orphange', 'is', 'a', 'cheery', 'as', 'goes', 'for', 'a', 'pastry', 'shop']

## 문장 토큰화 (sentence tokenize)

In [18]:
text = "His barber kept his word. But keeping such a huge secret to himself was driving him crazy. Finally, the barber went up a mountain and almost to the edge of a cliff. He dug a hole in the midst of some reads. He looked about, to was sure no one was near."

In [19]:
from nltk.tokenize import sent_tokenize

In [20]:
print(sent_tokenize(text))

['His barber kept his word.', 'But keeping such a huge secret to himself was driving him crazy.', 'Finally, the barber went up a mountain and almost to the edge of a cliff.', 'He dug a hole in the midst of some reads.', 'He looked about, to was sure no one was near.']

In [21]:
text = "I am actively looking for Ph.D students. and you are a Ph.D student"

In [22]:
print(sent_tokenize(text))

['I am actively looking for Ph.D students.', 'and you are a Ph.D student']

In [23]:
from nltk.tag import pos_tag

In [24]:
from konlpy.tag import Okt

In [25]:
print(word_tokenize(text))

['I', 'am', 'actively', 'looking', 'for', 'Ph.D', 'students', '.', 'and', 'you', 'are', 'a', 'Ph.D', 'student']

In [26]:
x = word_tokenize(text)

In [27]:
pos_tag(x) # 품사 태깅

[('I', 'PRP'),
 ('am', 'VBP'),
 ('actively', 'RB'),
 ('looking', 'VBG'),
 ('for', 'IN'),
 ('Ph.D', 'NNP'),
 ('students', 'NNS'),
 ('.', '.'),
 ('and', 'CC'),
 ('you', 'PRP'),
 ('are', 'VBP'),
 ('a', 'DT'),
 ('Ph.D', 'NNP'),
 ('student', 'NN')]

## Okt (Open Korean Text)

In [28]:
okt = Okt()

In [29]:
text = "열심히 학습한 당신, 저녁시간 맛나는것 많이 드세요."

In [30]:
okt.morphs("안녕하세요")

['안녕하세요']

In [31]:
print(okt.morphs(text))

['열심히', '학습', '한', '당신', ',', '저녁', '시간', '맛', '나', '는것', '많이', '드세요', '.']

In [32]:
print(okt.pos(text))

[('열심히', 'Adverb'), ('학습', 'Noun'), ('한', 'Josa'), ('당신', 'Noun'), (',', 'Punctuation'), ('저녁', 'Noun'), ('시간', 'Noun'), ('맛', 'Noun'), ('나', 'Josa'), ('는것', 'Verb'), ('많이', 'Adverb'), ('드세요', 'Verb'), ('.', 'Punctuation')]

In [33]:
print(okt.nouns(text))

['학습', '당신', '저녁', '시간', '맛']

## Kkma (꼬꼬마)

In [34]:
from konlpy.tag import Kkma

In [35]:
kkma = Kkma()

In [36]:
print(kkma.morphs(text))

['열심히', '학습', '하', 'ㄴ', '당신', ',', '저녁', '시간', '맛나', '는', '것', '많이', '드', '세요', '.']

In [37]:
print(kkma.pos(text))

[('열심히', 'MAG'), ('학습', 'NNG'), ('하', 'XSV'), ('ㄴ', 'ETD'), ('당신', 'NP'), (',', 'SP'), ('저녁', 'NNG'), ('시간', 'NNG'), ('맛나', 'VA'), ('는', 'ETD'), ('것', 'NNB'), ('많이', 'MAG'), ('드', 'VV'), ('세요', 'EFN'), ('.', 'SF')]

In [38]:
print(kkma.nouns(text))

['학습', '당신', '저녁', '저녁시간', '시간']

### 정규화를 이용한 불필요한 data 삭제 (길이가 1~2인 경우)

In [39]:
import re

In [40]:
text = "Don't be fooled by the dark sounding name, Jone's Orphange is a cheery as goes for a pastry shop."

In [47]:
shortword = re.compile(r'\W*\b\w{1,2}\b')

In [48]:
print(shortword.sub(' ', text))

Don   fooled  the dark sounding name, Jone  Orphange   cheery  goes for  pastry shop.

## Normalization 방법 
- 표제어 추출 (Lemmatization)
- 어간 추출 (Stemming)

## 표제어 추출 (Lemmatization)

In [49]:
from nltk.stem import WordNetLemmatizer

In [50]:
n = WordNetLemmatizer()

In [51]:
words = ['policy', 'doing', 'organization', 'have', 'going', 'love', 'lives', 'fly', 'dies', 'watched', 'has', 'starting']

In [52]:
print([n.lemmatize(w) for w in words])

['policy', 'doing', 'organization', 'have', 'going', 'love', 'life', 'fly', 'dy', 'watched', 'ha', 'starting']

In [53]:
n.lemmatize('dies', 'v')

'die'

In [54]:
n.lemmatize('watched', 'v')

'watch'

In [55]:
n.lemmatize('has', 'v')

'have'

## 어간 추출 (Stemming)

### 포터 알고리즘 (Porter Algorithm)

In [56]:
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

In [57]:
text = "This was not the map we found in Billy Bones's chest, but an accurate copy, complete in al things--names and heights and soundings--with the single exception of the red crosses and the written notes"

In [58]:
words = word_tokenize(text)

In [59]:
print(words)

['This', 'was', 'not', 'the', 'map', 'we', 'found', 'in', 'Billy', 'Bones', "'s", 'chest', ',', 'but', 'an', 'accurate', 'copy', ',', 'complete', 'in', 'al', 'things', '--', 'names', 'and', 'heights', 'and', 'soundings', '--', 'with', 'the', 'single', 'exception', 'of', 'the', 'red', 'crosses', 'and', 'the', 'written', 'notes']

In [60]:
s = PorterStemmer()

In [61]:
print([s.stem(w) for w in words])

['thi', 'wa', 'not', 'the', 'map', 'we', 'found', 'in', 'billi', 'bone', "'s", 'chest', ',', 'but', 'an', 'accur', 'copi', ',', 'complet', 'in', 'al', 'thing', '--', 'name', 'and', 'height', 'and', 'sound', '--', 'with', 'the', 'singl', 'except', 'of', 'the', 'red', 'cross', 'and', 'the', 'written', 'note']

In [68]:
words = ['formilize', 'allowance', 'electronical', 'doing', 'organization', 'have']
print([s.stem(w) for w in words])

['formil', 'allow', 'electron', 'do', 'organ', 'have']

In [69]:
from nltk.stem import LancasterStemmer

In [70]:
l = LancasterStemmer()

In [71]:
print([l.stem(w) for w in words])

['formil', 'allow', 'electron', 'doing', 'org', 'hav']

## Cleaning (정제)

### NLTK의 불용어 (stopwords) 확인

In [73]:
from nltk.corpus import stopwords

In [75]:
stopwords.words('english')[:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

### NLTK를 통한 불용어 처리

In [76]:
example = "Family is not an important thing. It's everything."

In [77]:
stop_words = set(stopwords.words('english'))

In [81]:
word_tokens = word_tokenize(example)

In [83]:
result = []
for w in word_tokens:
    if w not in stop_words:
        result.append(w)

In [85]:
print(word_tokens)
print(result)

['Family', 'is', 'not', 'an', 'important', 'thing', '.', 'It', "'s", 'everything', '.']
['Family', 'important', 'thing', '.', 'It', "'s", 'everything', '.']

## 한글 불용어 제거

In [90]:
example = "고기를 아무렇게나 구우려고 하면 안 돼. 고기라고 다 같은 게 아니거든. 예컨대 삼겹살을 구울 때는 중요한 게 있지."

In [91]:
stop_words = "아무거나 아무렇게나 어찌하든지 같다 비슷하다 예컨대 이럴정도로 하면 아니거든"

In [92]:
stop_words = stop_words.split(' ')
word_tokens = word_tokenize(example)
result = []
for w in word_tokens:
    if w not in stop_words:
        result.append(w)
        
print(word_tokens)
print(result)

['고기를', '아무렇게나', '구우려고', '하면', '안', '돼', '.', '고기라고', '다', '같은', '게', '아니거든', '.', '예컨대', '삼겹살을', '구울', '때는', '중요한', '게', '있지', '.']
['고기를', '구우려고', '안', '돼', '.', '고기라고', '다', '같은', '게', '.', '삼겹살을', '구울', '때는', '중요한', '게', '있지', '.']

## 정규 표현식 (Regular Expression)

### 정규 표현식 문자

#### .기호 - 한 개의 임의의 문자를 나타낸다.

In [93]:
import re

In [94]:
r = re.compile("a.c")

In [95]:
r.search("kkk")

In [96]:
r.search("abc")

#### ?기호 - ? 앞의 문자가 존재할 수도 있고, 존재하지 않을 수도 있는 경우

In [97]:
r = re.compile("ab?c")

In [98]:
r.search("abbc")

In [99]:
r.search("abc")

In [100]:
r.search("ac")

#### *기호 - 바로 앞의 문자가 0개 이상일 경우를 나타낸다. 앞의 문자는 존재하지 않을 수도 있으며, 또는 여러 개일 수도 있다.

In [102]:
r = re.compile("ab*c")

In [106]:
r.search("a")

In [103]:
r.search("ac")

In [104]:
r.search("abc")

In [105]:
r.search("abbbbbbc")

#### +기호 - *와 유사. 하지만 다른 점은 앞의 문자가 최소 1개 이상이어야 한다는 점

In [107]:
r = re.compile("ab+c")

In [108]:
r.search("ac")

In [109]:
r.search("abc")

In [110]:
r.search("abbbbc")

#### ^기호 - 시작되는 글자를 지정

In [112]:
r = re.compile("^a")

In [113]:
r.search("bbc")

In [114]:
r.search("ab")

In [115]:
r.search("akdfjslkf kds")

#### {숫자} 기호 - 문자에 해당 기호를 붙이면, 해당 문자를 숫자만큼 반복한 것으로 한다.

In [116]:
r = re.compile("ab{2}c")

In [117]:
r.search("abc")

In [118]:
r.search("abbc")

In [119]:
r.search("abbbc")

#### {숫자1, 숫자2} 기호 - 문자에 해당 기호를 붙이면, 해당 문자를 숫자1 이상, 숫자2 이하만큼 반복한다.

In [120]:
r = re.compile("ab{2,8}c")

In [121]:
r.search("ac")

In [122]:
r.search("abc")

In [123]:
r.search("abbc")

In [124]:
r.search("abbbbbbbbc")

In [125]:
r.search("abbbbbbbbbc")

#### {숫자,} 기호 - 문자에 해당 기호를 붙이면 해당 문자를 숫자 이상 만큼 반복한다.

In [126]:
r = re.compile("a{2,}bc")

In [127]:
r.search("bc")

In [128]:
r.search("abc")

In [129]:
r.search("aabc")

In [130]:
r.search("aaaaabc")

#### [] 기호 - []안에 문자들을 넣으면 그 문자들 중 한 개의 문자와 매치라는 의미를 가진다. <br><br> 범위를 지정하는 것도 가능하다.

In [131]:
r = re.compile("[abc]")

In [132]:
r.search("zzz")

In [133]:
r.search("aaaaaaaaaaaaaaaaa")

In [134]:
r.search("baac")

In [135]:
r = re.compile("[a-z]")

In [136]:
r.search("AAA")

In [137]:
r.search("111")

In [139]:
r.search("aBC")

#### [^문자] 기호 - ^기호 뒤에 붙은 문자들을 제외한 모든 문자를 매치하는 역할을 한다.

In [140]:
r = re.compile("[^abc]")

In [141]:
r.search("a")

In [142]:
r.search("ab")

In [143]:
r.search("b")

In [144]:
r.search("d")

In [145]:
r.search("1")

### 정규 표현식 모듈 함수

### search()가 정규 표현식 전체에 대해서 문자열이 매치하는지를 본다면,match()는 문자열의 첫 부분부터 정규 표현식이 매치하는지를 확인한다.

### 문자열 중간에 찾을 패턴이 있다고 하더라도, match 함수는 문자열의 시작에서 패턴이 일치하지 않으면 찾지 않는다.

In [146]:
r = re.compile("ab.")

In [147]:
r.search("kkkabc")

In [148]:
r.match("kkkabc")

In [149]:
r.match("abckkk")

#### re.split()

#### 입력된 정규 표현식을 기준으로 문자열들을 분리하여 리스트로 리턴. 자연어 처리에 있어서 가장 많이 사용되는 정규 표현식 함수 중 하나, 토큰화에 유용

In [154]:
text = "사과 딸기 수박 멜론 바나나"

In [156]:
re.split(" ", text)

['사과', '딸기', '수박', '멜론', '바나나']

In [158]:
text = """사과
딸기
수박
멜론
바나나"""

In [159]:
re.split("\n", text)

['사과', '딸기', '수박', '멜론', '바나나']

In [160]:
text = "사과+딸기+수박+멜론+바나나"

In [161]:
re.split("\+", text)

['사과', '딸기', '수박', '멜론', '바나나']

#### re.findall()

#### 정규 표현식과 매치되는 모든 문자열들을 리스트로 리턴한다. 단, 매치되는 문자열이 없다면 빈 리스트 리턴

In [162]:
text = """
이름 : 홍길동
전화번호 : 010 - 1234 - 5678
나이 : 30
성별 : 남
"""

In [163]:
re.findall("\d+", text) # \d 는 정수

['010', '1234', '5678', '30']

In [165]:
re.findall("[0-9]+", text)

['010', '1234', '5678', '30']

In [164]:
re.findall("\d+", "문자열입니다.")

[]

## re.sub()

### 정규 표현식 패턴과 일치하는 문자열을 찾아 다른 문자열로 대체하는 함수

In [169]:
text = "Regular expression : A regular expression, regex or regexp[1] (sometimes called a rational expression)[2][3] is, in theoretical computer science and formal language theory, a sequence of characters that define a search pattern."

In [170]:
re.sub('[^a-zA-Z ]', '', text)

'Regular expression  A regular expression regex or regexp sometimes called a rational expression is in theoretical computer science and formal language theory a sequence of characters that define a search pattern'

## 정규 표현식 텍스트 전처리

In [171]:
text = """
100 John   PROF
101 James  STUD
102 Mac    STUD
"""

In [172]:
re.split("\s+", text) # \s 공백을 의미하는 제어문자

['', '100', 'John', 'PROF', '101', 'James', 'STUD', '102', 'Mac', 'STUD', '']

In [173]:
re.findall("\d+", text)

['100', '101', '102']

In [175]:
re.findall("[A-Z]", text)

['J', 'P', 'R', 'O', 'F', 'J', 'S', 'T', 'U', 'D', 'M', 'S', 'T', 'U', 'D']

In [176]:
re.findall("[A-Z]{4}", text)

['PROF', 'STUD', 'STUD']

In [177]:
re.findall("[A-Z][a-z]+", text)

['John', 'James', 'Mac']

## NLTK에서 정규 표현식을 사용한 단어 토큰화

In [178]:
import nltk
from nltk.tokenize import RegexpTokenizer

In [180]:
text = "Don't be fooled by the dark sounding name, Jone's Orphange is a cheery as goes for a pastry shop."
tokenizer = RegexpTokenizer("[\w]+")
print(tokenizer.tokenize(text))

['Don', 't', 'be', 'fooled', 'by', 'the', 'dark', 'sounding', 'name', 'Jone', 's', 'Orphange', 'is', 'a', 'cheery', 'as', 'goes', 'for', 'a', 'pastry', 'shop']

In [183]:
tokenizer = RegexpTokenizer("[\s]+", gaps=True) # 앞 기준으로 토큰화하고 없으면 공백기준
print(tokenizer.tokenize(text))

["Don't", 'be', 'fooled', 'by', 'the', 'dark', 'sounding', 'name,', "Jone's", 'Orphange', 'is', 'a', 'cheery', 'as', 'goes', 'for', 'a', 'pastry', 'shop.']